<!-- post_list.html -->
{% extends 'blog/base.html' %}
{% block window_add %}
    <h2>Dodaj nowy post</h2>
    <form id="postForm" onsubmit="publishPost(event)">
        <div class="windowAddTitle">
            <label for="postTitle">Tytuł:</label>
            <input type="text" id="postTitle" name="title" required>
        </div>
        <div class="windowAddDescription">
            <label for="postContent">Treść:</label>
            <textarea id="postContent" name="content" required></textarea>
        </div>
        <div class="windowAddError"></div>
        <div class="windowAddButtonBar">
            <input type="submit" value="Publikuj">
        </div>
    </form>
{% endblock %}