<!-- base.html -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaloNp blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/strap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="container">
        <div class="headerBar">
            <div class="headerBarLogo">
                <a href="/">FaloNp blog</a>
            </div>
            <div class="headerBarCategory">
                <ul>
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>
            </div>
        </div>

        <div class="contentBox">
            <div class="contentBoxCategory">
                <div>Category: LOLO</div>
                <div class="contentBoxCategoryPanel">
                    <img src="{% static 'css/foto/panel/pen.png' %}" onclick="toggleAddPost()">
                    <img src="{% static 'css/foto/panel/sort.png' %}">
                </div>
            </div>
            <div class="contentBoxData">
                {% block post_list %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="windowAdd">
        <div class=" windowBox">
            {% block window_add %}{% endblock %}
        </div>
    </div>

    <script>
        function toggleAddPost() {
            var windowAddElement = document.getElementsByClassName('windowAdd')[0];
            console.log("1");
            if (windowAddElement) {
                windowAddElement.style.display = (windowAddElement.style.display === 'none' || windowAddElement.style.display === '') ? 'block' : 'none';
            }
        }

        function publishPost(){
            console.log("dodano!")
        }
    </script>
</body>
</html>
