<!-- base.html -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaloNp blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/strap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="container">
        <div class="headerBar">
            <div class="headerBarLogo">
                <a href="/">FaloNp blog</a>
            </div>


                <div class="contentBoxCategoryPanel">
                    {% if user.is_authenticated %}
                        <div class="contentBoxCategoryPanelElement">{{ user.username }}</div>
                        <form action="{% url 'add' %}">
                            <div class="contentBoxCategoryPanelElement"><button class="buttonImage"><img src="{% static 'css/foto/panel/pen.png' %}"></button></div>
                        </form>
                        <form action="{% url 'search' %}">
                            <div class="contentBoxCategoryPanelElement"><button class="buttonImage"><img src="{% static 'css/foto/panel/search.png' %}"></button></div>
                        </form>
                        <form action="{% url 'sort' %}">
                            <div class="contentBoxCategoryPanelElement"><button class="buttonImage"><img src="{% static 'css/foto/panel/sort.png' %}"></button></div>
                        </form>
                        <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">LOG OUT</button>
                        </form>
                    {% else %}
                        <form action="{% url 'sort' %}">
                            <div class="contentBoxCategoryPanelElement"><button class="buttonImage"><img src="{% static 'css/foto/panel/sort.png' %}"></button></div>
                        </form>
                        <form action="{% url 'search' %}">
                            <div class="contentBoxCategoryPanelElement"><button class="buttonImage"><img src="{% static 'css/foto/panel/search.png' %}"></button></div>
                        </form>
                        <form action="{% url 'login' %}">
                            <button type="submit" class="btn btn-primary">LOG IN</button>
                        </form>
                    {% endif %}
                </div>

        </div>

        <div class="contentBox">
            <div class="contentBoxData">
                {% block post_list %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="windowAdd">
        <div class=" windowBox">
            {% block window_add %}{% endblock %}
        </div>
    </div>

    <script>
    </script>
</body>
</html>
