<!-- post_detail.html -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaloNp blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/strap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="container">
        <div class="formBox commentBox">
            <div class="dataBlockTitle">{{ post.title }}</div>
            <div class="dataBlockDescription commentDescription"><p>{{ post.text|linebreaksbr }}</p></div>
            <p>Category: {{ post.get_category_display }}</p>
            <p>Published: {{ post.published_date }}</p>

            <!-- Wyświetlanie istniejących komentarzy -->
            <div class="dataBlockTitle">komentarze</div>
            {% for comment in post.comments.all %}
                <div class="comment commentRow">
                    <p>{{ comment.text|linebreaksbr }}</p>
                    <div class="commentDate"><p>Author: {{ comment.author }} dnia {{ comment.created_date }}</p></div>
                </div>
            {% endfor %}

            <!-- Formularz do dodawania komentarzy -->
            {% if user.is_authenticated %}
            <h2>Dodaj komentarz</h2>
            <form method="post" action="{% url 'add_comment_to_post' pk=post.pk %}">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="postContent">Treść: </label>
                        <textarea type="text" id="postContent" name="text" class="form-control" required></textarea>
                    </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
            {% endif %}
            <div class="ReturnButton">
                <form method="post" action="{% url 'post_list' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary buttonImage"><img src="{% static 'css/foto/panel/back.png' %}"></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
