<!-- post_list.html -->
{% extends 'blog/base.html' %}
{% block post_list %}
    <h1>Lista Postów</h1>
    {% for post in posts %}
        <div class="dataBlock">
            <div class="dataBlockBar">
                <div class="dataBlockTitle">{{ post.title }}</div>
                <div class="dataBlockUser">{{ post.author }}</div>
            </div>
            <div class="dataBlockDescription">
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            <div class="dataBlockBar">
                <div class="dataCategory">
                    {{ post.get_category_display }}
                </div>
                <div class="dataBlockDate">
                    published: {{ post.published_date }}
                </div>
            </div>
            <div class="dataBlockBar">
                <a href="{% url 'post_detail' pk=post.pk %}">Zobacz komentarze</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
