<!-- search.html -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FaloNp blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/strap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="container">
        <div class="formBox">
            <form method="post" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="searched_phrase">SEARCH</label>
                    <div class="row">
                        <input type="text" id="searched_phrase" name="title" class="form-control" required>
                        <button type="submit" class="btn btn-primary buttonImage"><img src="{% static 'css/foto/panel/search.png' %}"></button>
                    </div>
                </div>
            </form>
            <div class="ReturnButton">
                <form method="post" action="{% url 'post_list' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary buttonImage"><img src="{% static 'css/foto/panel/back.png' %}"></button>
                </form>
            </div>
            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>