body {
    margin: 0;
    padding: 0;
}

:root {
    --padding: 20px;
    --header: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

/* Style the list items */
li {
    margin: 0px 20px;
    border-bottom: 1px solid white;
}

li:hover {
    border-bottom: 1px solid navy;
    color: navy;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin: 10px 0px;
    align-items: center;
    justify-content: left;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: wheat;
}

.headerBar {
    background-color: #005B41;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
}

.headerBarLogo. {
    display: flex;
    justify-content: start;
    width: 200px;
    font-size: 15px !important;
    padding: var(--padding);
    font-family: 'Pacifico';
}

.headerBarCategory {
    display: flex;
    min-width: calc(100% - 200px);
    align-items: center;
    justify-content: end;
    color: white;
}

.contentBox {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    background-color: black;
}

.contentBoxCategory {
    width: 100%;
    min-height: 20px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    background-color: navy;
}

.contentBoxCategoryPanel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center !important;
}
.contentBoxCategoryPanelElement{
    margin: 0px 20px;
    padding: 0px;
}
.contentBoxCategoryPanel img {
    width: 25px;
    height: 25px;
    margin: 0px;
}

.contentBoxData {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    background-color: wheat;
    width: 100%;
    height: 100vh;
    padding: var(--padding)
}

.dataBlock {
    width: 70%;
    height: 25vh;
    display: flex;
    min-height: 20vh;
    flex-direction: column;
    border: 2px solid white;
    margin: 20px;
}

.dataBlockBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    align-items: center;
    padding: 0px 20px;
}

.dataBlockTitle {}

.dataBlockTitle a {
    font-size: large;
    color: rebeccapurple;
}

.dataBlockUser {}

.dataBlockDescription {
    min-height: calc(100% - 50px);
    padding: 0px 10px;
}


.dataBlockDate {
    height: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}


h1,
h2,
h3,
h4 {
    font-family: 'Pacifico';
}






.windowAdd {
    min-width: 500px;
    min-height: 200px;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* Ukryj element na początku */
    background-color: #ffffff;
    width: 70%;
    height: auto;
}

.windowBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--padding);
    padding-bottom: 0px;
}

.windowAddCategory {}

.windowAddTitle {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.windowAddDescription {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.windowAddError {
    color: red;
}

.windowAddButtonBar {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}



.formBox {
    min-width: 500px;
    min-height: 200px;
    position: fixed;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}