body {
    margin: 0;
    padding: 0;
}

:root {
    --padding: 20px;
    --header: 20px;
    --theme_main_color:#1C3329;
    --theme_secondary_color:#216E4E;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

/* Style the list items */
li {
    margin: 0px 20px;
    border-bottom: 1px solid white;
}

li:hover {
    border-bottom: 1px solid navy;
    color: navy;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    margin: 10px 0px;
    padding:0px 10px;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 0px;
    margin: 0px;

    background-image: url('foto/panel/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
}

.headerBar {
    background-color: #005B41;
    width: 90%;
    height: 50px;
    max-width:1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    padding: 20px;
}

.headerBarLogo. {
    display: flex;
    justify-content: start;
    min-width: 200px;
    font-size: 15px !important;
    padding: var(--padding);
    font-family: 'Pacifico';
}

.headerBarCategory {
    display: flex;
    min-width: calc(100% - 200px);
    align-items: center;
    justify-content: end;
    color: white;
}

.contentBox {
    width: 90%;
    height: calc(100vh - 50px);
    max-width:1000px;
    display: flex;
    flex-direction: column;
    background-color: var(--theme_main_color);
}

.contentBoxCategoryPanel{
    padding:10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center !important;
}
.contentBoxCategoryPanelElement{
    margin: 20px;
    padding: 0px;
}
.contentBoxCategoryPanel img {
    width: 25px;
    height: 25px;
    margin: 0px;
}

.contentBoxData {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    background-color: transparent;
    width: 100%;
    height: 100vh;
    padding: var(--padding)
}

.dataBlock {
    width: 90%;
    height: auto;
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    border: 2px solid white;
    margin: 20px 0px;
    background-color:var(--theme_secondary_color);
}

.dataBlockBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    max-height:25px;
    align-items: center;
    padding:10px;
    margin:10px 0px;
}

.dataBlockTitle {
    font-size: large;
    text-transform: uppercase;
}


.dataBlockUser {}

.dataBlockDescription {
    background-color:var(--theme_main_color);
    overflow-y:scroll;
    min-height: calc(100% - 120px);
    padding: 0px 10px;
}

.dataCategory{
    height: 25px;
    width: 50%;
    display: flex;
}
.dataBlockDate {
    height: 25px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}


h1,
h2,
h3,
h4 {
    font-family: 'Pacifico';
}


.buttonImage{
    all: initial;
    background-color: transparent;
    border: none;
}
.buttonImage img{
    width:20px;
    height:20px;
}
.buttonImage:hover{
    cursor:pointer;
}
.returnButton{
    position:fixed;
    top: 0;
    right: 0;
    margin:20px;
}



.windowAddError {
    color: red;
}





.formBox {
    position: fixed;
    background-color: var(--theme_main_color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.commentBox{
    height:90vh;
}